<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script>
   console.log("hey there");
     const userList = async () =>{
        try{
        let res = await fetch('http://localhost:8080/api/reviews')
        let list = await res.json();
         console.log(list);
        }
        catch{
        console.log('failed to fetch the data from api');
        }
     }
     userList();

</script>
    <title>Binge⁐it - Watch Trailers, Search for movies and much more</title>
</head>
<body>
   
   {{!-- <p>  {{message}} we wlcm you </p> --}}
   <h1> this is the secret page for checking cookies </h1>


     {{!-- <div class="Reviews-section">
        <div class="container">

            <form action="/secret" method="POST">
             <input type="text" name="review" value=""> <br><br>
             <input type="submit" value="Post">
            </form>

            
        </div>
    </div> --}}


</body>
</html>