<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/accVerified.css">
    <title>Binge⁐it - Watch Trailers, Search for movies and much more</title>
</head>

<body>
    <div class="navbar">
        <div class="navbar-container">

        </div>
    </div>
    


    <div class="content">
        <div class="container">
            <div class="logo">
                Binge⁐it
            </div>

            <div class="title">
               An Email has been sent to your email address
            </div>

            <div class="imgbox">
                <img src="../images/mailsent.jpg" alt="">
            </div>

            <p class="desc">
                Please check your inbox at <b>{{msg}}</b> and click the verification link inside to
                complete your registration.
                <br><br>
                <b>Can't find the email?</b> Check your spam folder.
            </p>
        </div>
    </div>



    <!-- ######################################## footer section ################################### -->
    <div class="footer-section">
        <div class="copyright-text">
            <p class="confession">Made with <i class="fa-solid fa-heart"></i> by Abhishek Kr.</p>
            <p>Copyright © 2022, &nbsp all rights reserved to Binge⁐it.</p>
        </div>
    </div>


</body>

</html>